body {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Courier New', Courier, monospace;
    min-height: 100vh;
}

.calculator {
    display: flex;
    flex-direction: column;
    border: 1px solid black;
    padding: 5px;
    gap: 10px;
    height: 400px;
    width: 300px;
}

.display {
    height: 80px;
    border: 1px solid black;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
    font-size: 28px;
}

button {
    width: 93px;
    height: 60px;
    margin: 10px 0px;
}

